$PROFILE_PICTURE_SIZE: 110px; // 110 looks, it's not any specific value

section.form {

    h2 {
        margin-top: 1.2rem;
        margin-bottom: 2.2rem;
        text-align: left;
        font-size: 22px;
        opacity: 0.8;
    }
    .top-row { h2 { margin-top: 0px; } } // romove the spacing for the first h2

    .ui.error.message {

    }
    padding-bottom: 80px;


    // display top row (Attachments) in vertical or horizontal alignment depending the screen size
    @media screen and (min-width: $TABLET_BREAK) {
        .top-row-cell {
            display: inline-block;
        }
        
    }
    @media screen and (max-width: $TABLET_BREAK - 1) {
        .top-row {
            text-align: center
        }
        div#resume-link {
            margin-top: 35px;
            .resume-link-wrap { 
                min-width: $PROFILE_PICTURE_SIZE;
            }
        }
    }

    .top-row-cell {
        .resume-link-wrap { 
            display: inline-block;
        }
        label {
            min-width: 150px; // for a nice visual alignment
        } 
        text-align: center;
    }

    .image-cell {
        label {
            margin-left: -18px;
        }
        div#profile-image {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: $PROFILE_PICTURE_SIZE;
            width: $PROFILE_PICTURE_SIZE;
            border: $BUTTON_GREY 1px solid;
        }
    }

    div#resume-link {
        // styling button
        a {
            display: none;
            &.local {
                color: $DISABLED;
                cursor: default;
            }
        }
        // show remote id the remote (uploaded) resume is available and linked within the form
        &.remote {
            display: inline-block;
            a {
                display: inline-block;
                &.local { display: none; }
            }
        }
        // show greyed one (disable / waiting) button, untill resume is uploaded
        &.local {
            display: inline-block;
            a {
                display: none;
                &.local { display: inline-block; }
            }
        }
        // "add resume" span / label if no resume yet
        .change-resume { display: none; }
        .add-resume { display: inline-block; }
        // "change resume" otherwise 
        &.remote, &.local {
            .change-resume { display: inline-block; }
            .add-resume { display: none; }
        }
    }

    div.submit-row {
        text-align: right; // align submit button to the right
    }

    // @TODO fix semantic-ui build - it's super bad if we have hakcs like this ...
    .ui.dropdown .menu>.item {
        color: $BLACK;
    }

    .ui.error.message { margin-top: 20px; }

}