section.header {
    div.container {
        text-align: right;
        img {
            display: inline-block;
            width: 200px;
            height: auto;
            margin: 30px 0 10px 0;
        }
    }
    .logout-cell {
        text-align: left;
        a {
            margin-top: 50px;
            display: inline-block;
            color: white;
            opacity: 0.8;
            &:hover {
                opacity: 0.9;
            }
        }
    }
}