$MAX_SECTION_WIDTH: 860px;

body {
    background-color: $BLACK;
    color: white;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


section {
    max-width: $MAX_SECTION_WIDTH;
    margin: auto;
}

.ui.action.input input[type="file"] {
    display: none;
}