<html>
  <head>
    <link rel="stylesheet" media="all" href="/assets/css/app.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">
    
    <script type="text/javascript" src="/assets/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/lib/semantic-ui/semantic.min.js"></script>
    <link rel="stylesheet" media="all" href="/assets/lib/semantic-ui/semantic.min.css">
    <link rel="stylesheet" media="all" href="/assets/lib/animate.min.css">

    <script>window.FileAPI = { staticPath: '/assets/lib/FileAPI' };</script>
    <script src="/assets/lib/FileAPI/FileAPI.min.js"></script>
   
    <script type="text/javascript" src="/assets/js/file-upload.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <link rel="stylesheet" media="all" href="/assets/css/app.css">


    <title> Global {M} </title>
  </head>
  <body>
    {{{content}}}
 </body>
</html>