<section class="header">
  <div class="ui container">
    <div class="ui grid column top-row">
      <div class="eight wide column logout-cell">
        {{#if request.user}}
          <a href="/auth/logout" class="local ui icon">
            <i class="sign out icon"></i> Logout
          </a>
        {{/if}}
      </div>
      <div class="eight wide column">
        <img class="ui image" src="/assets/images/logo.png"/>
      </div>
    </div>
  </div>
</section>


{{#if request.user}}
  <section class="form">
    <div class="ui container">

      <form class="ui form" id="recruitment-form" method="POST" enctype="multipart/form-data">
      <div class="ui grid">
        <input type="hidden" name="picture_data" value=""> <!-- hidden -->

        <div class="ui row">
          <div class="sixteen wide column">
            <div class="ui error message"></div>
          </div>
        </div>

        <div class="ui row">
          <div class="sixteen wide column top-row">
          <h2>Attachements:</h2>

            <div class="image-cell top-row-cell">
              {{#if request.user.picture_uri}}
                <div class="ui circular image" id="profile-image" style="background-image:url('{{request.user.picture_uri}}');"></div>
                <label for="input-profile-image" class="ui icon button"> <i class="user icon"></i> Change picture</label>
              {{else}}
                <div class="ui circular image" id="profile-image" style="background-image:url('/assets/images/profile-picture-placeholder.jpg');"></div>
                <label for="input-profile-image" class="ui icon button"> <i class="user icon"></i> Add picture</label>
              {{/if}}
              <input type="file" id="input-profile-image" style="display:none" accept=".jpg,.jpeg,.png">
            </div>

            <div id="resume-link" class="{{#if request.user.resume_uri}}remote{{/if}} top-row-cell">
              <div class="resume-link-wrap">
                <a href="{{request.user.resume_uri}}" class="icon ui button" target="_blank">
                  <i class="eye icon"></i>
                  <span>view resume</span>
                </a>
                <a href="" class="local ui icon button disabled">
                  <i class="arrow up icon"></i>
                  <span>{{request.user.resume_uri}}</span>
                </a>
              </div>
              <label for="input-profile-resume" class="ui icon button"> <i class="file text icon"></i> 
                <span class="change-resume">Change resume</span>
                <span class="add-resume">Add resume</span>
              </label>
              <input type="file" id="input-profile-resume" style="display:none" name="resume_file" accept=".pdf,.txt,.yml,.md">
            </div>

          </div> <!-- 16 -->
        </div>

        <div class="ui row">
          <div class="sixteen wide column">
          <h2>Personal data:</h2>
            <div class="three fields">
              <div class="field">
                <label>Name <i class="star icon"></i></label>
                <input name="name" placeholder="Full Name" type="text" value="{{request.user.name}}" maxlength="128">
              </div>
              <div class="field">
                <label>E-mail <i class="star icon"></i></label>
                <input name="email" placeholder="Your Email Address" type="text" value="{{request.user.email}}" maxlength="128">
              </div>
              <div class="field">
                <label>Phone number</label>
                <input name="phone_number" placeholder="Your Phone Number (+44000000000)" type="text" value="{{request.user.phone_number}}"maxlength="32">
              </div>
            </div>
          </div>
        </div>

        <div class="ui row">
          <div class="sixteen wide column">
            <div class="three fields">
              <div class="field">
                <label>Country </label>
                {{>country_dropdown}}
              </div>
              <div class="field">
                <label>City</label>
                <input name="city" type="text" placeholder="Your City" value="{{request.user.city}}">
              </div>
              <div class="field">
                <label>Postcode</label>
                <input name="postcode" type="text" placeholder="Your Postcode" value="{{request.user.postcode}}" maxlength="16">
              </div>
            </div>
          </div>
        </div>

        <div class="ui row">
          <div class="sixteen wide column">
          <h2>Social Media:</h2>
            <div class="three fields">
              <div class="field">
                <label><i class="twitter icon"></i> Twitter</label>
                <input name="twitter_username" type="text" placeholder="@<username>" value="{{request.user.twitter_username}}" maxlength="128">
              </div>
              <div class="field">
                <label><i class="linkedin icon"></i> LinkedIn</label>
                <input name="linkedin_url" type="text" placeholder="https://www.linkedin.com/in/<username>" value="{{request.user.linkedin_url}}" maxlength="128">
              </div>
              <div class="field">
                <label><i class="github icon"></i> Github</label>
                <input name="github_url" type="text" placeholder="https://github.com/<username>/" value="{{request.user.github_url}}" maxlength="128">
              </div>
            </div>
          </div>
        </div>

        <div class="ui row">
          <div class="sixteen wide column">
          <h2>Details:</h2>
            <div class="two fields">
              <div class="field">
                <label>About me</label>
                <textarea name="about" placeholder="I'm a a full stack developer ... working on ...">{{request.user.about}}</textarea>
              </div>
              <div class="field">
                <label>I'm looking for ... </label>
                <textarea name="looking_for" placeholder="I'm looking for a Lead Development position and fresh challenges..." >{{request.user.looking_for}}</textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="ui row submit-row">
          <div class="sixteen wide column">
            <a class="ui submit button animated">
              <div class="visible content">Submit</div>
              <div class="hidden content">
                <i class="forward icon"></i>
              </div>
            </a>
          </div>
        </div>

      </div>
      </form>

    </div> <!-- container -->

  </section>

{{else}}

  <section class="login">
    <div class="ui container">
        <a class="ui button animated" href="/auth/google">
          <div class="visible content">
            Log-in with you Google account
          </div>
          <div class="hidden content">
            <i class="forward icon"></i>
          </div>
        </a>
    </div>
</section>

{{/if}}

<div class="ui basic modal" id="modal-processing">
  <i class="close icon"></i>
  <div class="header">
    Processing update...
  </div>
  <div class="image content">
    <div class="image">
      <i class="forward icon animated infinite flash"></i>
    </div>
    <div class="description">
      <p></p>
    </div>
  </div>
  <div class="actions">

  </div>
</div>

